global
    log /dev/log local0
    log /dev/log local1 notice

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Put frontend/backend/listen definitions in /etc/haproxy/conf.d/.
